.main-container{
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  padding-top: 10%;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
.container{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.container .form-control{
  width: 50%;
}
.image-filter{
  display: flex;
  justify-content: center;
  gap: 50px;
  
}
.image-filter div{
  background-color: darkslategray;
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.images{
  margin-bottom: 15px;
}